{% load static %}
<div class="footer">
    <div class="up">
      <div class="fnote">
        <h3>Menu</h3>
        <br>
        <p>Veg Pizza</p>
        <br>
        <p>Chicken Pizza</p>
        <br>
        <p>Pasta</p>
        <br>
        <p>Pizza Crust</p>
        <br>
        <p>Beverages</p>
        <br>
        <p>Pizza Mania</p>
        <br>
        <p>Burger Pizza</p>
      </div>
      <div class="fnote">
        <h3>COMPANY</h3>
        <br>
        <p>Blog</p>
        <br>
        <p>Investor</p>
        <br>
        <p>Feedback</p>
        <br>
        <p>Ads</p>
      </div>
      <div class="fnote" id="f3">
        <h3>PIZZA RESTAURANTS</h3>
        <br>
        <p>Restaurants Near Me</p>
        <br>
        <p>Pizza Near Me</p>
        <br>
        <p>Food Near Me</p>
        <br>
        <p>Food Delivery</p>
        <br>
        <p>Italian FoodWork</p>
        <br>
        <p>Order Food Online</p>
      </div>
      <div class="fnote">
        <h3>ABOUT</h3>
        <br>
        <p>Gift Card</p>
        <br>
        <p>Card Balance Enquiry</p>
        <br>
        <p>FAQ</p>
        <br>
        <p>Virtual Pizza Party</p>
        <br>
        <p>E-Gift Vouchers</p>
      </div>
      <div class="fnote" id="f5">
        <h3>LEGAL</h3>
        <br>
        <p>Disclaimer</p>
        <br>
        <p>Terms & Conditions</p>
        <br>
        <p>Privacy Policy</p>
      </div>
      <div class="fnote" id="f6">
        <h3>SOCIAL MEDIA</h3>
        <br>
        <div class="ico">
          <a href="https://www.facebook.com/dominospizzaindia" target="_blank"><img src="{% static 'images/index/fb.png' %}" alt="fb"></a>
          <a href="https://x.com/dominos_india?mx=2" target="_blank"><img src="{% static 'images/index/twitter.png' %}" alt="fb"></a>
          <a href="https://www.instagram.com/dominos_india/?hl=en" target="_blank"><img src="{% static 'images/index/instagram.png' %}" alt="fb"></a>
          <a href="https://www.youtube.com/user/dominosindia" target="_blank"><img src="{% static 'images/index/youtube.png' %}" alt="fb"></a>
        </div>
      </div>
    </div>
    <div class="down">
      <p>All Rights Reserved. Copyright © Jubilant FoodWorks Ltd.</p>
    </div>
  </div>